:root {
  --bs-blue_light: #3a546d;
}

/* Header */

/* Prima Section */

section:nth-of-type(1) {
  background-color: var(--bs-teal);
}
.line{
  height: 4px;
}

/* Seconda Section */


/* Terza Section */
section:nth-of-type(3) {
  background-color: var(--bs-teal);
}

/* Quarta Section Form */
/* ::-webkit-input-placeholder {
    font-size: 25px!important;
 } */
 section:nth-of-type(4) button {
  background-color: var(--bs-teal);
  border-color: var(--bs-teal);
}
/* Quinta Section */
section:nth-of-type(5) {
  background-color: var(--bs-blue_light);
}
section:nth-of-type(5) a{
  color: var(--bs-teal);
}
.circle{
  width: 36px;
  height: 36px;
  line-height: 32px;
}


/* html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  } */