:root {
  --bs-blue_light: #3a546d;
}

/* Prima Section */

section:nth-of-type(1) {
  background-color: var(--bs-teal);
}
.line{
  height: 4px;
}

/* Seconda Section */


/* Terza Section */
section:nth-of-type(3) {
  background-color: var(--bs-teal);
}

/* Quarta Section Form */
 section:nth-of-type(4) button {
  background-color: var(--bs-teal);
  border-color: var(--bs-teal);
}
/* Quinta Section */
section:nth-of-type(5) {
  background-color: var(--bs-blue_light);
}
section:nth-of-type(5) a{
  color: var(--bs-teal);
}
.circle{
  width: 36px;
  height: 36px;
  line-height: 32px;
}

