:root {
  --bs-blue_light: #3a546d;
}

/* Header */

/* Prima Section */

section:nth-of-type(1) {
  background-color: var(--bs-teal);
}


/* Seconda Section */


/* Terza Section */
section:nth-of-type(3) {
  background-color: var(--bs-teal);
}

/* Quarta Section Form */
/* ::-webkit-input-placeholder {
    font-size: 25px!important;
 } */

/* Quinta Section */
section:nth-of-type(5) {
  background-color: var(--bs-blue_light);
}

/* html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  } */